{% extends 'master_list_item.html' %}
    {% block title %}
          <div class="auth__column_right_form__header">
               Новый пункт списка дел
          </div>
          <form class="auth_form_class" action="" id="auth_form" method="POST">{% csrf_token %}
              {{ form.name}}
                {{ form.expire_date }}
    {% endblock %}
    {% block cancel_btn %}
        <a href="{% url 'list_item:list_item' pk=pk %}">
            <div class="auth__button_submit" id="login-cancel-btn" ><span>&#9587</span></div>
        </a>
    {% endblock %}
